html{
    font-family: Arial;
    background-image: url(housepic.png);
    background-repeat: no-repeat;
    background-position: 50px 700px;
    background-size: 15%;
    background-color: bisque;
}
.content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   
   
}
.content div{
    text-align: center;
}
.header{
    background-color:rgb(172, 86, 86);
    grid-row: 1/2;
    padding: 10px;
    ;
}
.header{
    grid-column: 1/6;
    font-size: 20px;
}
.left{
    padding: 20px;
    grid-column: 1/2;
}
.middle{
    padding: 20px;
    grid-column: 3/4;
    grid-row: 2/4;
    
}
.right{
    grid-column: 5/6;
    padding: 10px;
    
}
.footer{
    grid-column: 1/6;
    grid-row: 5/6;
    align-self: end;
}